<p id="notice"><%= notice %></p>

<h1>Contactphones</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactphones.each do |contactphone| %>
      <tr>
        <td><%= contactphone.name %></td>
        <td><%= contactphone.address %></td>
        <td><%= contactphone.city %></td>
        <td><%= contactphone.phone %></td>
        <td><%= contactphone.email %></td>
        <td><%= link_to 'Show', contactphone %></td>
        <td><%= link_to 'Edit', edit_contactphone_path(contactphone) %></td>
        <td><%= link_to 'Destroy', contactphone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contactphone', new_contactphone_path %>
